@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

body {
  /* background: url(/src/assets/photo.jpg);  */

  background: url(/src/assets/kodevs2.gif); 


  background-attachment: fixed;
  background-position: center;
  

  font-family: "Source Code Pro", monospace;
  
}

.pepe h3 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
